.footer {
    min-height: 100px;
    background: #f8f8f8;
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #c427af;
  }
  